@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    --cor-de-fundo: #0c1022;
    --cor01: #00eeff;
    --cor02: #999999;
    --cor03: #3498db;
    --cor04: #34495e;
    --cor05: #8e44ad;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* SECTION 1 */
body {
    background-color: var(--cor-de-fundo);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    color: white;
    overflow-x: hidden;
     /* Evita rolagem lateral */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.portifolio {
    font-size: 1.58rem;
    pointer-events: none;
    opacity: 0; /* Começa com opacidade zero */
    animation: slideTop 1s forwards; /* Aplica a animação slideTop */
    font-weight: 600;
}


header.solid {
    background-color: #1a265e; /* Cor de fundo quando rolar */
    transition: 0.3s ease;
    
}

header.transparent{
    background-color: transparent;
    transition: 0.3s ease;
}


header a {
    color: white;
    font-size: 1.1rem;
}

.bar {
    margin-inline: 10px;
    width: 66%;
}

.bar a {
    margin-inline: 20px;
    margin-right: 2%;
    transition: 1s ease;
    opacity: 0; 
    animation: slideTop .5s forwards; /* Aplica a animação slideTop */
    animation-delay: .2s;
}

.bar a:hover {
    color: #3cf;
}





.menu-hamburguer-container {
    position: relative;
    display: none;
    
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 80px;
    z-index: 1;
    
   
}

.menu-hamburguer {
    
    display: none;
    flex-direction: column;
    position: fixed;
    top: 120px;
    right: 10px; 
    background-color: #131831;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1; 
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(-20px);
    opacity: 0;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 100px
}

.menu-hamburguer a {
    
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 1px solid var(--cor01); 
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    transition: 0.3s ease;
     /* Adiciona margem à esquerda */
    
}

.menu-hamburguer a:hover {
    background-color: rgba(51, 204, 255, 0.623);
}

.menu-hamburguer.show {
    display: flex;
    transform: translateY(0);
    opacity: 1;
    
} 
.part1 {
    max-width: 100%;
    height: 700px;
    display: flex;
    padding-left: 10%;
    align-items: center;
    justify-content: space-between;
   
}

.conteúdo h1 {
    font-size: 50px;
    font-weight: 700;
    padding: 0;
    opacity: 0; /* Começa com opacidade zero */
    animation: slideRight 0.5s ease forwards; /* Aplica a animação slideRight */
    animation-delay: 0.7s; /* Adiciona o delay para a animação */
}

.conteúdo h2 {
    font-size: 30px;
    color: var(--cor01);
    margin-left: 5px;
    position: relative;
    bottom: 10px;
    margin-bottom: 10px;
    opacity: 0;
    animation: slideLeft 0.5s ease forwards; /* Aplica a animação slideRight */
    animation-delay: 0.9s; /* Adiciona o delay para a animação */
}

.conteúdo p {
    font-size: 16px;
    text-align: justify;
    margin-left: 5px;
    margin-bottom: 50px;
    opacity: 0;
    animation: slideLeft 0.5s ease forwards; /* Aplica a animação slideRight */
    animation-delay: 0.9s; /* Adiciona o delay para a animação */
}

.conteúdo-dentro {
    max-width: 600px;
}


.conteúdo-dentro span{
    color: var(--cor01);
    font-weight:600;
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    z-index: 1;
    opacity: 0;
    animation: slideBottom 0.9s ease forwards; /* Aplica a animação slideRight */
    animation-delay: 1.2s; /* Adiciona o delay para a animação */
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    inset: 0;
    left: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-color: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.btn:hover::before {
    background-position: 100% 0;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    inset: 0;
    left: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition: .5s ease;
}

.btn:hover::after {
    background-position: 100% 0;
}


.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid var(--cor01);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 20px 0;
    transition: 0.3s ease;
    margin-right: 20px;
    position: relative;
    bottom: 20px;
    
}

.icons a:hover {
    background-color: var(--cor01);
    color: black;
    transform: scale(1.2);
    border: 1px solid black;
    text-decoration: dashed;
}

.icons a:nth-child(1) {
    opacity: 0;
    animation: slideRight 0.9s ease forwards; /* Aplica a animação slideRight */
    animation-delay: 1s; /* Adiciona o delay para a animação */
}

.icons a:nth-child(2) {
    opacity: 0;
    animation: slideRight 0.9s ease forwards; /* Aplica a animação slideRight */
    animation-delay: 1.2s; /* Adiciona o delay para a animação */
}

.icons a:nth-child(3) {
    opacity: 0;
    animation: slideRight 0.9s ease forwards; /* Aplica a animação slideRight */
    animation-delay: 1.4s; /* Adiciona o delay para a animação */
}

.img {
    width: 300px;
    height: 300px;
    margin-right: 50px;
    position: relative;
}

.img .círculo {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: slideLeft 0.9s ease forwards, floatImage 4s ease-in-out infinite; /* Aplica a animação slideRight */
    animation-delay: 1.7s, 3.1s; /* Adiciona o delay para a animação */
    left: 12px;
}

.img .círculo::after {
    content: '';
    position: absolute;
    width: 270px;
    height: 280px;
    background-color: var(--cor-de-fundo);
    border-radius: 50%;
    border: 8px solid;
    color: var(--cor01);
}

.img .círculo .imagem {
    position: relative;
    width: 270px;
    height: 320px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
    left: 1px;
    bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    max-width: 265px;
    background-size: cover;
}

/* KEYFRAMES */

@keyframes slideTop {
    0% {
        opacity: 0; /* Começa com opacidade zero */
        transform: translateY(-100px); /* Inicia deslocado para cima */
    }
    100% {
        opacity: 1; /* Termina com opacidade total */
        transform: translateY(0); /* Volta para a posição original */
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0; /* Começa com opacidade zero */
        transform: translateY(100px); /* Inicia deslocado para cima */
    }
    100% {
        opacity: 1; /* Termina com opacidade total */
        transform: translateY(0); /* Volta para a posição original */
    }
}

@keyframes slideRight {
    0% {
        opacity: 0; /* Começa com opacidade zero */
        transform: translateX(-100px); /* Inicia deslocado para a esquerda */
    }
    100% {
        opacity: 1; /* Termina com opacidade total */
        transform: translateX(0); /* Volta para a posição original */
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0; /* Começa com opacidade zero */
        transform: translateX(100px); /* Inicia deslocado para a esquerda */
    }
    100% {
        opacity: 1; /* Termina com opacidade total */
        transform: translateX(0); /* Volta para a posição original */
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY();
    }
}

/* SECTION 2 */


.conteúdo-dentro2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.conteúdo-dentro2 h1 {
    margin-bottom: 20px;
    font-size: 45px;
    margin-top: 80px;
}

.conteúdo-dentro2 h1 span {
    color: var(--cor01);
}

.conteúdo-dentro2 p {
    margin-top: 40px;
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.conteúdo-dentro2 p span {
    color: var(--cor01);
}

.sub h2 {
    margin-left: 55px;
    margin-top: 50px;
    font-size: 35px;
}

.sub h3 {
    margin-top: 70px;
    font-size: 30px;
    color: var(--cor01);
    text-align: center;
}

.sub img {
    position: relative;
    top: 50px;
    width: 500px;
    margin: auto;
    display: block;
    /* border: 1px solid var(--cor01); */
    padding: 20px;
    border-radius: 10px;
}

.sub .superior {
    margin-top: 200px;
}

.sub .uni {
    width: 400px;
    margin-bottom: 200px;
}

hr {
    position: relative;
    top: 125px;
    background-color: var(--cor01);
}

/* SECTION 3 */

.conteudo-dentro3 {
    width: 100%;
    height: 750px;
    background-color: #131831;
}

.conteudo-dentro3 h1 {
    font-size: 40px;
    position: relative;
    top: 80px;
    text-align: center;

   
}

.conteudo-dentro3 h2 {
    color: var(--cor01);
    font-size: 30px;
    margin-left: 50px;
    
    

}

.conteudo-dentro3 .linguagens {
    font-size: 30px;
    margin-top: 160px;
    
}



.conteudo-dentro3 ul {
    margin-left: 100px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;   
}

.part4{
    width: 100%;
    height: 900px;
   
    
    
    
}

.part4 h1 {
    margin-bottom: 20px;
    font-size: 40px;
    position: relative;
    top: 70px;
    text-align: center;
    margin-bottom: 120px;
}

.conteúdo-dentro4 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    justify-content: center;
    gap: 40px 50px;
}



.conteúdo-dentro4 div {
    /* width: 250px;
    height: 250px; */
  
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid var(--cor01);
    transition: 0.3s ease;
    cursor: pointer;
    
    
    
}
.conteúdo-dentro4 div {
    width: 100%;
    height: 100%;
}

.conteúdo-dentro4 .p1 {
    position: relative;
    overflow: hidden; /* Garante que o desfoque não se espalhe para fora do elemento */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/starwars-projeto.avif);
    background-size: cover;
    background-position: center;
    
   
}

.conteúdo-dentro4 .p1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #1d8c941f, #00eeff4f, #01e7f76b,  #00eeffcc);
    /* background-image: url(../imagens/starwars-projeto.avif); */
    background-size: cover;
    background-position: center;
    filter: blur(3px); /* Ajuste o valor de blur conforme desejado */
    opacity: 0;
    transition: opacity 0.5s ease; /* Transição suave da opacidade */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
    
    
}

.conteúdo-dentro4 .p1:hover::before {
    opacity: 1;
    
    
}

.conteúdo-dentro4 .p1 p {
    position: relative; /* Para manter o texto sobre o plano de fundo desfocado */
    text-align: justify;
    font-family: 'Poppins';
    font-weight: bold;
    color: white; /* Cor do texto */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transição suave da opacidade */
    width: 80%;
  font-size: 16px;
    position: absolute;
    text-shadow: 2px 2px 3px black;
    
}

.conteúdo-dentro4 .p1 p span{
    color: #00eeff;
}

.conteúdo-dentro4 .p1:hover p {
    opacity: 1;
}



.conteúdo-dentro4 .p2 {
    position: relative;
    overflow: hidden; /* Garante que o desfoque não se espalhe para fora do elemento */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/projeto-netflix.jpg);
    background-size: cover;
    background-position: center;
    
   
}

.conteúdo-dentro4 .p2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #1d8c941f, #00eeff4f, #01e7f76b,  #00eeffcc);
    /* background-image: url(../imagens/projeto-netflix.jpg); */
    background-size: cover;
    background-position: center;
    filter: blur(3px); /* Ajuste o valor de blur conforme desejado */
    opacity: 0;
    transition: opacity 0.5s ease; /* Transição suave da opacidade */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
    
    
}

.conteúdo-dentro4 .p2:hover::before {
    opacity: 1;
    
    
}


.conteúdo-dentro4 .p2 p {
    position: relative; /* Para manter o texto sobre o plano de fundo desfocado */
    text-align: justify;
    font-family: 'Poppins';
    font-weight: bold;
    color: white; /* Cor do texto */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transição suave da opacidade */
    width: 80%;
    font-size: 16px;
    position: absolute;
    text-shadow: 2px 2px 3px black;
    letter-spacing: 0px;
}

.conteúdo-dentro4 .p2 p span{
    color: #00eeff;
}

.conteúdo-dentro4 .p2:hover p {
    opacity: 1;
}






.conteúdo-dentro4 .p3 {
    position: relative;
    overflow: hidden; /* Garante que o desfoque não se espalhe para fora do elemento */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/X\ \(1\).png);
    background-size: cover;
    background-position: center;
    
   
}

.conteúdo-dentro4 .p3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #1d8c941f, #00eeff4f, #01e7f76b,  #00eeffcc);
    /* background-image: url(../imagens/pong-game.png); */
    background-size: cover;
    background-position: center;
    filter: blur(3px); /* Ajuste o valor de blur conforme desejado */
    opacity: 0;
    transition: opacity 0.5s ease; /* Transição suave da opacidade */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
    
    
}

.conteúdo-dentro4 .p3:hover::before {
    opacity: 1;
    
    
}


.conteúdo-dentro4 .p3 p {
    position: relative; /* Para manter o texto sobre o plano de fundo desfocado */
    text-align: justify;
    font-family: 'Poppins';
    font-weight: bold;
    color: white; /* Cor do texto */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transição suave da opacidade */
    width: 80%;
    font-size: 16px;
    position: absolute;
    text-shadow: 2px 2px 3px black;
 
}

.conteúdo-dentro4 .p3 p span{
    color: #00eeff;
}

.conteúdo-dentro4 .p3:hover p {
    opacity: 1;
}







.conteúdo-dentro4 .p4 {
    position: relative;
    overflow: hidden; /* Garante que o desfoque não se espalhe para fora do elemento */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/compra6.png);
    background-size: cover;
    background-position: center
    
   
}

.conteúdo-dentro4 .p4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #1d8c941f, #00eeff4f, #01e7f76b,  #00eeffcc);
    /* background-image: url(../imagens/snake-game.png); */
    background-size: cover;
    background-position: center;
    filter: blur(3px); /* Ajuste o valor de blur conforme desejado */
    opacity: 0;
    transition: opacity 0.5s ease; /* Transição suave da opacidade */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
    
    
}

.conteúdo-dentro4 .p4:hover::before {
    opacity: 1;
    
    
}


.conteúdo-dentro4 .p4 p {
    position: relative; /* Para manter o texto sobre o plano de fundo desfocado */
    text-align: justify;
    font-family: 'Poppins';
    font-weight: bold;
    color: white; /* Cor do texto */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transição suave da opacidade */
    width: 80%;
    font-size: 16px;
    position: absolute;
    text-shadow: 2px 2px 3px black;
    letter-spacing: 0px;
}

.conteúdo-dentro4 .p4 p span{
    color: #00eeff;
}

.conteúdo-dentro4 .p4:hover p {
    opacity: 1;
}


















.conteúdo-dentro4 .p5 {
    position: relative;
    overflow: hidden; /* Garante que o desfoque não se espalhe para fora do elemento */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/clima2.jpeg);
    background-size: cover;
    background-position: center;
    
   
}

.conteúdo-dentro4 .p5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: linear-gradient(transparent, #1d8c941f, #00eeff4f, #01e7f76b,  #00eeffcc); 
    /* background-image: url(../imagens/clima-projeto.jpg); */
    background-size: cover;
    background-position: center;
    filter: blur(3px); /* Ajuste o valor de blur conforme desejado */
    opacity: 0;
    transition: opacity 0.5s ease; /* Transição suave da opacidade */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
    
    
}

.conteúdo-dentro4 .p5:hover::before {
    opacity: 1;
    
    
}


.conteúdo-dentro4 .p5 p {
    position: relative; /* Para manter o texto sobre o plano de fundo desfocado */
    text-align: justify;
    font-family: 'Poppins';
    font-weight: bold;
    color: white; /* Cor do texto */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transição suave da opacidade */
    width: 80%;
    font-size: 16px;
    position: absolute;
    text-shadow: 2px 2px 3px black;
    letter-spacing: 0px;
}

.conteúdo-dentro4 .p5 p span{
    color: #00eeff;
}

.conteúdo-dentro4 .p5:hover p {
    opacity: 1;
}




.conteúdo-dentro4 .p6 {
    position: relative;
    overflow: hidden; /* Garante que o desfoque não se espalhe para fora do elemento */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/endereço2.jpg);
    background-size: cover;
    background-position: center;
    
   
}

.conteúdo-dentro4 .p6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: linear-gradient(transparent, #1d8c941f, #00eeff4f, #01e7f76b,  #00eeffcc); */
    /* background-image: url(../imagens/endereço-projeto.jpg); */
    background-size: cover;
    background-position: center;
    filter: blur(3px); /* Ajuste o valor de blur conforme desejado */
    opacity: 0;
    transition: opacity 0.5s ease; /* Transição suave da opacidade */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
    
    
}

.conteúdo-dentro4 .p6:hover::before {
    opacity: 1;
    
    
}


.conteúdo-dentro4 .p6 p {
    position: relative; /* Para manter o texto sobre o plano de fundo desfocado */
    text-align: justify;
    font-family: 'Poppins';
    font-weight: bold;
    color: white; /* Cor do texto */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transição suave da opacidade */
    width: 80%;
    font-size: 16px;
    position: absolute;
    text-shadow: 2px 2px 3px black;
    letter-spacing: 0px;
}

.conteúdo-dentro4 .p6 p span{
    color: #00eeff;
}

.conteúdo-dentro4 .p6:hover p {
    opacity: 1;
}







.conteúdo-dentro4  .p1:hover{
    transform: scale(1.05);
   
    
    
}

.conteúdo-dentro4  .p2:hover{
    transform: scale(1.05);
}

.conteúdo-dentro4  .p3:hover{
    transform: scale(1.05);
}

.conteúdo-dentro4  .p4:hover{
    transform: scale(1.05);
}

.conteúdo-dentro4  .p4:hover{
    transform: scale(1.05);
}

.conteúdo-dentro4  .p5:hover{
    transform: scale(1.05);
}

.conteúdo-dentro4  .p6:hover{
    transform: scale(1.05);
}




.part5{
    width: 100%;
    height: 800px;
    background-color: #131831;
}
.part5 h1{
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 70px;
}


.part5 .formulário{
    
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 10px ;

    
    
    
}

.part5 input{
    padding: 10px;
    color: white;
    width: 300px;
    height: 55px;
    border-radius: 5px;
    background-color: var(--cor-de-fundo);
    border: 2px solid var(--cor01);
    font-weight: 500;
    font-size: 1rem;
    margin: 5px 0px;
    
   
    
    
    
}
/* .part5 .formulário1{
   
} */

textarea{
    position: relative;
    background-color: var(--cor-de-fundo);
    border: 3px solid  var(--cor01);
    padding: 10px;
    width: 610px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    display: block;
    bottom: 70px;
    font-size: 1rem;
    resize: none;
    color: white;
    font-weight: 500;
}


.part5 .formulário .btn2{
    position: relative;
    top: 150px;
    width: 210px;
    height: auto;
    padding: 13px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--cor01);
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    right: 90px;
    transition: 0.3s ease;
    color: var(--cor-de-fundo);

}
.part5 .formulário .btn2:hover{
    background-color: var(--cor-de-fundo);
    color: #00eeff;
}

.loading {
    display: none;
}




footer {
    text-align: center;
    font-size: 1.4rem;
    padding: 20px;
    font-weight: 500;
    background-color: #0c1022 /* MUDAR*/
}

footer a {
    color: var(--cor01);
    text-decoration: none;
    transition: 0.8s ease;
}

footer a:hover {
    color: rgba(51, 204, 255, 0.671);
}